
.amenities li {
    padding-left: 20px;

}
body {
    background: #e0e0e0;
}
.body-header {
    background: rosybrown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
.login {
  position: fixed;
  top: 10px;
  right: 50px;
}
.photo-detail {
    height: 370px;
    width: 370px;
    padding-top: 60px;
}
.user-infor p {
    margin: 0;
    padding: 0;
}
.body-main{
    padding-left: 30px
}
.body-footer {
    background: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
.contact-us {
    padding-left: 20px;
    padding-top: 5px;
    float: left;
  }
.logo-bottom {
    padding-right: 10px;
    float: right;
    margin: 0;
  }